USE [Teste]
GO

CREATE TABLE [dbo].[TB_CATEGORIE_RULES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORIE_DESC] [varchar](20) NULL,
	[MINIMUM] [decimal](12, 2) NULL,
	[MAXIMUM] [decimal](12, 2) NULL,
	[SECTOR] [varchar](10) NULL,
 CONSTRAINT [PK_TB_CATEGORIE_RULES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


ALTER   PROCEDURE [dbo].[SP_CATEGORIE]
@SECTOR VARCHAR(10),
@VALUE DECIMAL(12, 2)

AS
BEGIN
	SELECT	
			[CATEGORIE_DESC] = max(A.[CATEGORIE_DESC])
	FROM
			[TB_CATEGORIE_RULES] A
	WHERE	A.SECTOR = @SECTOR
	AND		@VALUE between A.[MINIMUM] AND A.[MAXIMUM]
END
GO